# hidden files, exluding gitattributes
.*
!.gitattributes

# data folder
/data
/lorawan-devices

# certs
ca-config.json
ca-csr.json
ca-key.pem
ca.csr
ca.pem
mqtt-server.json
mqtt-server-key.pem
mqtt-server.csr
mqtt-server.pem
