# rename this file to .env
VERSION=latest

POSTGRESQL_HOST=<POSTGRES HOST>
POSTGRESQL_PASSWORD=<POSTGRES PASSWORD>

MQTT_BROKER_HOST=<MOSQUITTO HOST>
MQTT_USER=""
MQTT_PASS=""

CHIRPSTACK_SECRET=<CHIRPSTACK SECRET>

HELIUM_NET_ID="00003C"
# Min helium block of 8 has prefix of 29
DEVADDR_START=<DEV ADRDRESS START>
DEVADDR_STOP=<DEV ADRDRESS STOP>
DEVADDR_PREFIX=<PREFIX>
DEV_ADDR_PREFIX_1=<DEV ADDRESS START/PREFIX>

REDIS_HOST=<REDIS HOST>
